/*.prvoPolje{
    background-color: #fff;
    margin-left: 300px;
}
.tabela{
    margin-top: 100px;
    height: 100px;
    width:1300px;
    background-color: #fff;
    border: none;
}
th{
    height: 50px;
    width:150px;
    color:#fff;
    font-size: medium;
    font-weight: 10;
    border: #fff;
    border-radius: 15px;
    background-color: #8f4a4a;
}*/